@model Eng_Part.Models.Database.ModulePart

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ModulePart</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PartID)

        <div class="form-group">
            @Html.LabelFor(model => model.PartName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartName)
                @Html.ValidationMessageFor(model => model.PartName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartDesc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartDesc)
                @Html.ValidationMessageFor(model => model.PartDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartMetal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartMetal)
                @Html.ValidationMessageFor(model => model.PartMetal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartDimension, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartDimension)
                @Html.ValidationMessageFor(model => model.PartDimension)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartImage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartImage)
                @Html.ValidationMessageFor(model => model.PartImage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartCDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartCDate)
                @Html.ValidationMessageFor(model => model.PartCDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartMDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartMDate)
                @Html.ValidationMessageFor(model => model.PartMDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
